<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>wb-l0</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    .bg-light-purple {
      background-color: #d0ebfa;
    }
  </style>
</head>
<body class="bg-light-purple">
<header class="container mt-3">
  <div class="container text-center">
    <a href="/" class="btn btn-success btn-lg">Home</a>
  </div>
</header>
<h2 align="center" style="color:Black">UUID not found</h2>
</body>
</html>